.card {
    height: 360px;
    flex: 0 0 420px;
    margin: 10px;
    padding-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

// 白模式
:host {
    background: #fff;
}
// 黑模式
.myapp-dark-theme :host {
    background: #424242;
}
